@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: 'Pano';
    src: url("/fonts/pano/Pano-Trial-Regular.ttf");
}
@font-face {
    font-family: 'Pano Bold';
    src: url("/fonts/pano/Pano-Trial-Bold.ttf");
}

// =============================================================================
// Font Families
// =============================================================================

$font-family-main: 'Open Sans', serif;
$font-family-second: 'Pano Bold', sans-serif;
$font-family-third: 'Noto Serif Display', sans-serif;

// =============================================================================
// Font Weight
// =============================================================================

$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$black-weight: 900;


