@import 'font';

// =============================================================================
// Utils
// =============================================================================

.text-serif{
    font-family: $font-family-third;
    font-weight: $semibold-weight;
    font-style: italic;
}
