@import 'font';
@import 'vars';
@import 'utils';


// =============================================================================
// App
// =============================================================================

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    &::before, &::after {
        box-sizing: border-box;
    }
}
body {
    font-family: $font-family-main;
    background-color: $app-background-color;
    color: $app-color;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
//canvas{
//    position: relative;
//    z-index: 10;
//    pointer-events: none;
//    opacity: 1;
//}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
